{% extends "layouts/dashboard.html" %}
{% import "staff/_nav.html" as nav %}

{% block title %}Participants | TrekManager{% endblock %}
{% block sidebar %}{{ nav.staff_sidebar() }}{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/participants.css') }}">
{% endblock %}


<div class="container mt-5">

    <h2 class="text-center mb-4">
        Trek Participants
    </h2>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>

        {% for user in participants %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
