 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.btn-sm{
    border-radius:8px;
}

.badge{
    padding:.55em .8em;
}

.alert {
    transition: opacity 0.5s ease;
}

.alert.fade-out {
    opacity: 0;
}   

.flash-message{
    max-width:650px;
    margin:20px auto;
    border-radius:12px;
}

.admin-bg{
    background: url("../images/admin-bg.jpg") center/cover fixed;
}

.staff-bg{
    background: url("../images/staff-bg.jpg") center/cover fixed;
}

.user-bg{
    background: url("../images/user-bg.jpg") center/cover fixed;
}
body{
    position:relative;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    z-index:-1;
}

.table-container{

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 8px 30px rgba(0,0,0,.25);

}

.table{

    background:transparent;

    color:#fff;

}

.table thead{

    background:rgba(255,255,255,.12);

}

.table tfoot{

    background:rgba(255,255,255,.12);

}

.table thead th{

    color:black;

    border-bottom:1px solid rgba(255,255,255,.2);

}

.table thead th{

    color:black;

    border-bottom:1px solid rgba(255,255,255,.2);

}
.table tbody td{

    background:transparent;

    color:white;

    border-color:rgba(255,255,255,.08);

}

.table-hover tbody tr:hover{

    background:rgba(255,255,255,.08);

}

.price-box{
    background: rgba(25,135,84,.15);
    border: 1px solid rgba(25,135,84,.35);
    border-radius: 12px;
    padding: 18px 20px;
    margin: 20px 0;
}

.price-box h4{
    color:#198754;
    font-weight:700;
}

.badge-status-Open{
    background:#198754;
}

.badge-status-Closed{
    background:#6c757d;
}

.badge-status-Completed{
    background:#ffc107;
    color:#000;
}

.badge-difficulty-Easy{
    background:#198754;
}

.badge-difficulty-Moderate{
    background:#ffc107;
}

.badge-difficulty-Hard{
    background:#dc3545;
}
