*{margin:0px;}


.card-trek{
    background:#171717;
    border:1px solid #2f2f2f;
    border-radius:18px;
    transition:.25s;
}

.card-trek:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.table{
    color:white;
}

.table thead{
    border-color:#444;
}

.table td,
.table th{
    border-color:#333;
}

.text-secondary{
    color:#9ca3af !important;
}

.list-group-item.active{
    background:#0d6efd !important;
    border-radius:12px;
    color:white !important;
    font-weight:600;
}

.list-group-item{
    margin-bottom:8px;
    border-radius:12px;
    transition:.2s;
}

.list-group-item:hover{
    transform:translateX(6px);
}

.table-dark{
    --bs-table-bg:#171717;
    --bs-table-hover-bg:#232323;
}

.card-trek table{
    margin-bottom:0;
}

.btn-sm{
    border-radius:8px;
}

.badge{
    padding:.55em .8em;
}


.auth-page{
    min-height:100vh;

    background:
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url("../images/login-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.card-trek{
    background: rgba(255,255,255,.92);
    backdrop-filter: blur(8px);
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

