{% extends "base.html" %}
{% block title %}
Create Trek
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Create a New Trek</h2>

    <form method="POST" action="{{ url_for('create_trek') }}">

        <div class="mb-3">
            <label for="name" class="form-label">Trek Name</label>
            <input type="text" class="form-control" id="name" name="trek_name" required>

            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" required>

            <label for="difficulty" class="form-label">Difficulty</label>
            <select class="form-select" name="difficulty">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>

            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="start_dates" name="start_date" required>

            <label for="end_date" class="form-label">End Date</label>
            <input type="date" class="form-control" id="end_dates" name="end_date" required>

            <label for="duration" class="form-label">Duration (in hours)</label>
            <input type="number" class="form-control" id="duration" name="duration" min="1" required>

            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>

            <label for="max_slots" class="form-label">Maximum Slots</label>
            <input type="number" class="form-control" id="max_slots" name="max_slots" min="1" required>

            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status" required>
                <option value="Upcoming">Open</option>
                <option value="Ongoing">Closed</option>
                <option value="Completed">Completed</option>
            </select>

            <label for="assigned_staff" class="form-label">Assigned Staff</label>
            <input class="form-control" id="assigned_staff" name="assigned_staff_id">

        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Create Trek</button>
        </div>


    </form>


</div>

{% endblock %}