{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div id="main">
        <div id="canvas">
            <div id="form-body-login">
                <h2 class="text-center">Login Form</h2>
                <form method="POST" action="{{ url_for('auth.login') }}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div> 
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <div id="login-button" class="text-center">
                    <button type="submit" class="btn btn-primary" value="Login" >Login</button> <br>
                    Are you a new user? <a href="{{ url_for('auth.register') }}">Register here</a>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}