{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div id="main">
        <div id="canvas">
            <div id="form-body-register">
                <h2 class="text-center">Register Form</h2>
                <form method="POST" action="{{ url_for('register') }}">
                <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" name="role" required>
                        <option value="user">User</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div id="login-button" class="text-center">
                    <button type="submit" class="btn btn-primary" value="Register">Register</button> <br>
                    Are you an existing user? <a href="{{ url_for('login') }}">Login here</a>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}