{% extends "base.html" %}
{% block title %}
Update Trek
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Update Trek</h2>

    <form method="POST" action="{{ url_for('update_trek_staff', trek_id=trek[0]) }}">

        <div class="mb-3">
            <label for="name" class="form-label">Trek Name</label>
            <input type="text" class="form-control" id="name" name="trek_name" value="{{ trek[1] }}" readonly>

            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" value="{{ trek[2] }}" readonly>

            <label for="difficulty" class="form-label">Difficulty</label>
            <input type="text" class="form-control" value="{{ trek[3] }}" readonly>

            <label for="available_slots" class="form-label">Available Slots</label>
            <input type="number" class="form-control" id="available_slots" name="available_slots" value="{{ trek[8] }}" min="0" required>

            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status" required>
                <option value="Open" {% if trek[10] == "Open" %}selected{% endif %}>Open</option>
                <option value="Closed" {% if trek[10] == "Closed" %}selected{% endif %}>Closed</option>
                <option value="Completed" {% if trek[10] == "Completed" %}selected{% endif %}>Completed</option>
            </select>


        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Update Trek</button>
            <a href="{{ url_for('admin.treks') }}" class="btn btn-secondary">
                Cancel
            </a>
        </div>


    </form>


</div>

{% endblock %}