{% extends "base.html" %}
{% block title %}
View Treks
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">View Treks</h1>
    <a href="{{ url_for('user.my_bookings') }}" class="btn btn-primary mb-3"> My Bookings</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Trek Name</th>
                <th>Location</th>
                <th>Difficulty</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Available Slots</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
       </thead>
        <tbody>
            {% for trek in treks %}
            <tr>
                <td>{{ trek.id }}</td>
                <td>{{ trek.trek_name }}</td>
                <td>{{ trek.location }}</td>
                <td>{{ trek.difficulty }}</td>
                <td>{{ trek.start_date }}</td>
                <td>{{ trek.end_date }}</td>
                <td>{{ trek.duration }}</td>
                <td>{{ trek.available_slots }}</td>
                <td>{{ trek.description }}</td>
                <td>{{ trek.status }}</td>
                <td> <a href="{{ url_for('user.book_trek_route', trek_id=trek.id) }}" class="btn btn-success btn-sm"> Book </a> </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}