{% extends "layouts/dashboard.html" %}
{% import "user/_nav.html" as nav %}
{% block title %}Browse Treks | GoGhummi{% endblock %}
{% block sidebar %}{{ nav.user_sidebar() }}{% endblock %}
{% block content %}

<h2 class="mb-4"><i class="fa-solid fa-magnifying-glass"></i> Browse Treks</h2>

<form method="GET" class="row g-2 mb-4">
    <div class="col-md-4">
        <input type="text" name="q" class="form-control" placeholder="Search by name" value="{{ q }}">
    </div>

    <div class="col-md-3">
        <select name="difficulty" class="form-select">
            <option value="">All Difficulties</option>
            {% for d in ['Easy','Moderate','Hard'] %}
            <option value="{{ d }}" {% if difficulty == d %}selected{% endif %}>{{ d }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <input type="text" name="location" class="form-control" placeholder="Location" value="{{ location }}">
    </div>

    <div class="col-md-2 d-flex gap-2">
        <button class="btn btn-success flex-fill" type="submit">
            <i class="fa-solid fa-filter"></i>
        </button>
        <a href="{{ url_for('user.browse_treks') }}" class="btn btn-outline-danger flex-fill">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
    
</form>

<div class="row g-4">
    {% for t in treks %}
    <div class="col-md-4" >
        <div class="card card-trek p-3 h-100 {% if t.status != 'Open' %} opacity-75 {% endif %}">
            <h5>{{ t.trek_name }}</h5>
            <p class="mb-1"><i class="fa-solid fa-location-dot text-danger"></i> {{ t.location }}</p>
            <div class="text-center my-2">
                <span class="badge badge-status-{{ t.status }}"> Status - {{ t.status }} </span> <hr>
                <span class="badge badge-difficulty-{{ t.difficulty }} mb-2"> Difficulty - {{ t.difficulty }} </span>
            </div>
            <p class="mb-1"><i class="fa-solid fa-calendar"></i> {{ t.start_date.strftime('%d %b') }} - {{ t.end_date.strftime('%d %b %Y') }}</p>
            <p class="mb-1"><i class="fa-solid fa-chair"></i> {{ t.available_slots }} slots left</p>
            <p class="text-success fw-bold">₹ {{ t.price }}</p>
            <a href="{{ url_for('user.trek_detail', trek_id=t.id) }}" class="btn btn-trek btn-secondary mt-auto">View Details</a>
        </div>
    </div>

    {% else %}
    <p class="text-muted">No treks match your search.</p>
    {% endfor %}
    
</div>
{% endblock %}
